@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;
}

body,
dialog {
  @apply text-on-surface-container bg-surface-container;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.handwritten {
  font-family: "Caveat", cursive;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  --thumb: #9ca3af;

  background: var(--thumb);
  border-radius: 0.2rem;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  --thumb: #9ca3af;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Source: https://codepen.io/lloeki/pen/bGpRzb */
.checkered {
  background-color: var(--surface-container);
  background-size: 0.8rem 0.8rem;
  background-position: 0 0, 0.4rem 0.4rem;
  background-image: linear-gradient(45deg, var(--surface-dim) 25%, transparent 25%, transparent 75%, var(--surface-dim) 75%, var(--surface-dim)),
                    linear-gradient(45deg, var(--surface-dim) 25%, transparent 25%, transparent 75%, var(--surface-dim) 75%, var(--surface-dim));

}